body {
    margin: 0px;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: "Text Me One", sans-serif;
    background: #393e41;
    padding: 5px 0 5px 0;
}
.lecon {
    width: 24%;
    height: 200px;
    border: 1px solid #393e41;
    border-radius: 15px;
    margin: 5px auto 5px auto;
    background: #3f88c5;
    transition: all 0.2s ease-out;
    transition-delay: 0.2s;
}
.lecon:nth-child(even) {
    background: #a7cced;
}
.lecon:hover {
    height: 210px;
    width: 27%;
    margin: 0px auto 0px auto;
    font-size: 1.5em;
    filter: brightness(95%);
}
.interne {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: #393e41;
}
a h1 {
    text-align: center;
}
